::ng-deep {
    ng-scrollbar.sidebar-scroll {
        --scrollbar-size: 8px;
        --scrollbar-thumb-color: gray;
        --scrollbar-hover-size: 12px;
        --scrollbar-track-color: rgba(0, 0, 0, 0.05);
        --scrollbar-border-radius: 10px;

        height: 200px;
        max-height: 200px;
        border-radius: 3px;
        border: 2px solid rgba(0, 0, 0, 0.05);
    }
}
