// colors
$prime-background: #fafafa;

// primary colors
$prime-blue: #244ce5;
$prime-ash: #fafafa;
$prime-info: #227aff;

// secondary colors
$secondary-blue: #e5f4ff;

// font colors
$prime-font: #495057;
$secondary-font: #5c6b77;
$secondary-info-font: #595959;
$sumi-ink: #bcbbbb;
$dr-white: #fafafa;

// card colors
$card-background: #f2f2f5;

// badge colors
$badge-bg-primary: #e6f7ff;
$badge-text-primary: #1890ff;
$badge-bg-warning: #fff7e6;
$badge-text-warning: #fa8c16;
$badge-bg-danger: #dc354521;
$badge-text-danger: #dc3545;
$badge-bg-success: #f6ffed;
$badge-text-success: #52c41a;
$badge-bg-light: #fafafa;
$badge-text-light: rgba(0, 0, 0, 0.65);
$badge-bg-purple: #f9f0ff;
$badge-text-purple: #722ed1;
$badge-bg-cyan: #e6fffb;
$badge-text-cyan: #13c2c2;

// confluence
$confluence-table-header: #f4f5f7;

// shadows
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

// typehead
$typehead-background: #f5f5f5;

// badge
$badge-font-weight: 500;
$badge-border-radius: 2px;
$badge-border: 1px solid;

// font-weights
$font-weight-medium: 500;
