@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;900&display=swap');

// overrides
@import 'abstract/abstract-index';

// bootstrap
@import '~bootstrap/scss/bootstrap';
